*.bak
*.log
*.tcp
*.tps
*.synctex
/Biblio/Ouared Papers/Programming Animation Using.pdf
/Biblio/Ouared Papers/Reactive Animation Realistic Modeling of Complex Dynamic Systems.pdf
/Biblio/Ouared Papers/Requirements-DrivenVisualizationsforBigDataAnalyticsaModel-Drivenapproach.pdf
/Biblio/Ouared Papers/S06P03V2.pdf
/Biblio/Ouared Papers/S06P03V3.pdf
/Biblio/Ouared Papers/s10270-020-00798-2.pdf
/Biblio/Ouared Papers/Saraiva-Paper.pdf
/Biblio/Ouared Papers/Shape-Diverse DSLs Languages without Borders (Vision Paper).pdf
/Biblio/Ouared Papers/shapes.pdf
/Biblio/Ouared Papers/Simulation Matlab.pdf
/Biblio/Ouared Papers/software-technologies-applications-and-foundations-2016.pdf
/Biblio/Ouared Papers/Taentzer-VMTools.pdf
/Biblio/Ouared Papers/tese.pdf
/Biblio/Ouared Papers/The Event Coordination Notation Behaviour Modelling Beyond Mickey Mouse.pdf
/Biblio/Ouared Papers/The Event Coordination Notation.pdf
/Biblio/Ouared Papers/The relevance of model-driven engineering thirty years from now.pdf
/Biblio/Ouared Papers/Towards a runtime model based on colored Petri-nets for the execution of model transformations.pdf
/Biblio/Ouared Papers/TTC_2015_submission_12.pdf
/Biblio/Ouared Papers/TTC_Idani_2019.pdf
/Biblio/Ouared Papers/User Driven Evolution of User Interface Models— the FLEPR Approach.pdf
/Biblio/Ouared Papers/Using Model Transformation for Generating Visualizations from Repository Contents.pdf
/Biblio/Ouared Papers/Using visualisation to elicit domain information as part of the Model Driven Architecture approach.pdf
/Biblio/Ouared Papers/van Amstel, Marcel and van den Brand, Mark and Serebrenik, Alexander. Traceability Visualisation in MT with TraceVis ().pdf
/Biblio/Ouared Papers/Virtual Worlds on Demand Model-Driven Development of JavaScript-based Virtual World UI Components for Mobile Apps.pdf
/Biblio/Ouared Papers/Visual Debugging Support for Graph Rewriting based Model Transformations.pdf
/Biblio/Ouared Papers/yds2014_submission_7.pdf
/Biblio/Ouared Papers/Zhu.pdf
/Biblio/Ouared Papers/32.798320.pdf
/Biblio/Ouared Papers/60.pdf
/Biblio/Ouared Papers/1409.6620.pdf
/Biblio/Ouared Papers/2011_Pleuss (2).pdf
/Biblio/Ouared Papers/30601.pdf
/Biblio/Ouared Papers/57269.pdf
/Biblio/Ouared Papers/77364.pdf
/Biblio/Ouared Papers/345513.345358.pdf
/Biblio/Ouared Papers/3239372.3239399.pdf
/Biblio/Ouared Papers/A Community Learns Design Towards a Pattern Language for Novice Visual Programmers.pdf
/Biblio/Ouared Papers/A Model Driven Approach to the Development of Gamified Interactive Clinical Practice Guidelines.pdf
/Biblio/Ouared Papers/A Solution to the TTC’15 Model Execution Case Using the GEMOC Studio.pdf
/Biblio/Ouared Papers/A_Visualization_Framework_for_the_Modeling_and_For.pdf
/Biblio/Ouared Papers/An OCL-Based Framework for Model Transformations.pdf
/Biblio/Ouared Papers/Animation of Behavioral Specifications through Code Generation for a Payment System.pdf
/Biblio/Ouared Papers/Animation-based Validation of Reactive Software Systems using Behavioural Models.pdf
/Biblio/Ouared Papers/applications-of-graph-transformations-with-industrial-relevance-2012.pdf
/Biblio/Ouared Papers/Applying formal reasoning to model transformation The Meeduse solution.pdf
/Biblio/Ouared Papers/Applying Program Comprehension Techniques to Karel Robot Programs.pdf
/Biblio/Ouared Papers/article.pdf
/Biblio/Ouared Papers/Behavioral interfaces for executable DSLs.pdf
/Biblio/Ouared Papers/Behavioral_Reactivity_and_Real_Time_Programming_in_XML.pdf
/Biblio/Ouared Papers/Characterizing Tools for Visual Modeling Techniques.pdf
/Biblio/Ouared Papers/combemale10b.pdf
/Biblio/Ouared Papers/comlan2016.pdf
/Biblio/Ouared Papers/Conal Elliott An Embedded Modeling Language Approach to Interactive 3D and Multimedia Animation.pdf
/Biblio/Ouared Papers/Design Pattern Oriented Development of Model Transformations.pdf
/Biblio/Ouared Papers/Design, Implementation and Animation of.pdf
/Biblio/Ouared Papers/download (1).pdf
/Biblio/Ouared Papers/employ Event-B and Rodin for proving properties and animation of BPEL processes.pdf
/Biblio/Ouared Papers/Er06b.pdf
/Biblio/Ouared Papers/erts08-CCGMP (1).pdf
/Biblio/Ouared Papers/Every Animation Should Have a Beginning, a Middle, and an End A Case Study of using a Functor-based Animation Language.pdf
/Biblio/Ouared Papers/Generative Technologies for Model Animation in the TopCased Platform _ SpringerLink.pdf
/Biblio/Ouared Papers/Generative Technologies for Model Animation in the TOPCASED Platform.pdf
/Biblio/Ouared Papers/HCC.2002.1046369.pdf
/Biblio/Ouared Papers/HennigBLB11.pdf
/Biblio/Ouared Papers/Incremental Development of a Safety Critical System Combining formal Methods and DSMLs − Application to a Railway System.pdf
/Biblio/Ouared Papers/Integration of Visual Contracts and Model Transformation for Enhanced MDE Development.pdf
/Biblio/Ouared Papers/Introducing Simulation and Model Animation in the MDE.pdf
/Biblio/Ouared Papers/jucs_article_70515_en_1 (2).pdf
/Biblio/Ouared Papers/Languages of Games and Play A Systematic Mapping Study.pdf
/Biblio/Ouared Papers/Matlage-10-BeginningMiddleEnd.pdf
/Biblio/Ouared Papers/mc.2005.31.pdf
/Biblio/Ouared Papers/MDA Game Design for Video Game Development by Genre.pdf
/Biblio/Ouared Papers/MDAinterfaces.pdf
/Biblio/Ouared Papers/Model Integration Approach from SysML to MATLABSimulink.pdf
/Biblio/Ouared Papers/Model Transformation by Graph Transformation A Comparative Study.pdf
/Biblio/Ouared Papers/Model-based Animation of Micro-Traffic Simulation – WIP.pdf
/Biblio/Ouared Papers/Model-driven Development of Complex Software A Research Roadmap.pdf
/Biblio/Ouared Papers/Model-driven development of interactive multimedia applications with MML.pdf
/Biblio/Ouared Papers/Model-Driven Engineering for End-Users in the Loop in Smart Ambient Systems.pdf
/Biblio/Ouared Papers/Model-Driven Game Development A Literature Review.pdf
/Biblio/Ouared Papers/Model-driven_iterative_development_of_3D_web-appli.pdf
/Biblio/Ouared Papers/Motrusca interactive model transformation use case repository.pdf
/Biblio/Ouared Papers/mtip05.pdf
/Biblio/Ouared Papers/mussbacher_13271.pdf
/Biblio/Ouared Papers/newPaper.pdf
/Biblio/Ouared Papers/On better understanding UML diagrams through interactive three-dimensional visualization and animation.pdf
/Biblio/Ouared Papers/paper - Constructing and Visualizing Transformation Chains.pdf
/Biblio/Ouared Papers/paper.pdf
/Biblio/Ouared Papers/poster3.pdf
/Biblio/Ouared Papers/Programming Animation Using Behavioral Programming.pdf
